<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
    </style>
</head>

<body>
   
                <p>
                    Användare: {{name}}
                </p>
                
                {{#each fees}}
                    <p>
                        {{ fees.value }}
                    </p>

                    <p>
                        {{ fees.desc }}
                    </p>

                    <p>
                        {{ fees.balance }}
                    </p>

                    <p>
                        {{ fees.title }}
                    </p>

                    <p>
                        {{ fees.barcode }}
                    </p>

                    <p>
                        {{ fees.id }}
                    </p>
                {{/each}}

</body>

</html>