<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
    </style>
</head>

<body>
   
                <p>
                    Användare: {{name}}
                </p>
                
                {{#each fees}}
                    <div class="fee-item">
                        <p>
                            Type: {{ type.value }}
                        </p>

                        <p>
                            Description: {{ desc }}
                        </p>

                        <p>
                            Balance: {{ balance }}
                        </p>

                        <p>
                            Title: {{ title }}
                        </p>

                        <p>
                            Barcode: {{ barcode.value }}
                        </p>

                        <p>
                            Id: {{ id }}
                        </p>
                    </div>
                    <div> --------- </div>
                {{/each}}

</body>

</html>